*.Designer.cs
*.csproj.user
/NuGet/Exported/
bin/
obj/
packages/
/.vs/restore.dg
*.suo
.vs
*.pdb
*.dll
project.fragment.lock.json
project.lock.json
*.CodeAnalysisLog.xml
*.lastcodeanalysissucceeded

src/.idea/*

*.user

src/.vsconfig

.DS_Store
